<div class="footer-wrapper">

    <footer id="footer" class="footer bg-grey-lighter">

        <div class="footer-inner container m-auto md:flex justify-between items-center px-6 py-10">

            <div class="text-purple-darkest pb-8 md:pb-0">
               <p>Organized by the <a href="https://www.techlahoma.org">Techlahoma Foundation</a>.</p>

               <p class="py-8">Previous Years:  <a href="http://2019.thunderplainsconf.com">2019</a> |  <a href="http://2018.thunderplainsconf.com">2018</a> | <a href="http://2017.thunderplainsconf.com">2017</a> | <a href="http://2016.thunderplainsconf.com">2016</a> | <a href="http://2015.thunderplainsconf.com">2015</a> | <a href="http://2014.thunderplainsconf.com">2014</a> </p>
            </div>

        </div>

    </footer>

</div>
