<header id="header" class="bg-teal-dark w-full flex items-center flex-col content-center self-center p-12 pb-0 mb-12">
 <div class="text-white text-center m-8 flex items-center flex-col content-center">
  <h1><img src="/images/logo/thunder-plains-logo-text-white.png" alt="ThunderPlains Developer Conference" /></h1>

  <p class="text-3xl text-teal-lightest font-bold">November 12<sup>th</sup> 2020</p>

  <p class="py-8 max-w-lg">We will be virtual at <a
  href="twitch.tv/techlahoma/">twitch.tv/techlahoma</a>. Follow us on <a href="https://www.twitter.com/thunderplains">Twitter</a> to stay updated! Our CFP is open!</p>

  {# <div class="pb-10">
    <a href="https://www.dropbox.com/s/7a3ram1o2q1mbde/ThunderPlains-2019-Sponsorship-Prospectus.pdf" class="block sm:inline-block mb-3 sm:mb-0 no-underline text-2xl bg-transparent hover:bg-purple-light text-purple-light font-semibold hover:text-white py-2 px-4 mx-1 border-2 border-purple-light hover:border-transparent rounded">
      Sponsorships
    </a>
    <a href="https://ti.to/techlahoma/thunderplains-2020" class="block sm:inline-block no-underline text-2xl bg-transparent hover:bg-purple-light text-purple-light font-semibold hover:text-white py-2 px-4 mx-1 border-2 border-purple-light hover:border-transparent rounded">
      Buy Tickets
    </a>
  </div> #}

   <div class="pb-20">
    <a href="https://www.papercall.io/thunderplains" class="no-underline text-2xl bg-transparent hover:bg-teal-lighter text-teal-lighter font-semibold hover:text-white py-2 px-4 border-2 border-teal-lighter hover:border-transparent rounded">
      Submit a Talk
    </a>
  </div>

  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup" class="max-w-full -mb-16 p-6 bg-teal-darker border border-teal-darker border-1 rounded-lg shadow-md">
    <form action="https://techlahoma.us9.list-manage.com/subscribe/post?u=523ad83c59be7a4ae257beed1&amp;id=01d6d06206" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL" class="block text-teal-lightest text-xl font-bold mb-4">Subscribe to our mailing list</label>
        <div class="flex items-center max-w-full border-b border-b-2 border-teal-lighter py-2">
          <input type="email" value="" name="EMAIL" class="email appearance-none bg-transparent border-none text-white py-1 px-2 leading-tight focus:outline-none" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="checkbox" value="4" checked name="group[32658][4]" id="mce-group[32658]-32658-2"></div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_523ad83c59be7a4ae257beed1_01d6d06206" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="flex-no-shrink cursor-pointer bg-teal-light hover:bg-teal-darkest border-teal-light hover:border-teal-darkest text-sm border-4 text-white py-1 px-2 rounded"></div>
        </div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</div>
</header>
