---
layout: default
meta_title: ThunderPlains 2020
meta_description: Oklahoma-grown virtual developer conference focusing on web technologies
body_class: home
title: ThunderPlains 2020
---

<div class="container text-xl mx-auto py-8 px-4 border-b">
   <p>ThunderPlains is a web developer conference that focuses on JavaScript and related tech that make the web interesting.</p>
   <p>ThunderPlains is organized and backed by <a href="https://www.techlahoma.org">Techlahoma</a> – a volunteer-run 501(c)3 non-profit. Techlahoma is dedicated to advancing Oklahomans through accessible tech training and community building.</p>
</div>


<div class="container text-xl mx-auto py-8 px-4 border-b">
  <h2 id="coc">Code of Conduct</h2>
  <p>Before attending the conference, <a href="https://www.techlahoma.org/code-of-conduct">please review the Thunder Plains Code of Conduct</a>. The CoC applies to everyone (all attendees, speakers, volunteers, and vendors) at official and unofficial events by <a href="http://techlahoma.org/">Techlahoma</a>, including any location where attendees may be congregating.</p>
  <p>Have questions? Please <a href="mailto:info@techlahoma.org">email us</a> or alert us on <a href="https://twitter.com/thunderplains">Twitter</a>. We're here to help!</p>
</div>



<div class="container mx-auto py-8 px-4 hidden">
  <h2 id="schedule">Schedule</h2>

  {% for schedule in schedule %}
  <div class="p-0 sm:p-4">
    <h3 class="bg-teal-dark text-teal-lightest p-4 m-0 text-center">{{ schedule.start_time }}</h3>

    <div class="flex flex-col md:flex-row">
      {% if schedule.full %}
      <div class="m-0 px-0 py-4 sm:px-4">
        <div class="text-xl font-semibold">{{ schedule.full.title }}</div>

        {% if schedule.full.speaker %}
          {% if schedule.full.speaker.twitter %}
          <div><a href="https://www.twitter.com/{{ schedule.full.speaker.twitter }}">{{ schedule.full.speaker.name }}</a></div>
          {% else %}
          <div>{{ schedule.full.speaker.name }}</div>
          {% endif %}
        {% endif %}
      </div>

      {% else %}
      <div class="flex flex-col w-full md:w-1/2 m-0">
        <div class="bg-teal-lighter text-center m-0 p-2">Room 16 (Upstairs)</div>
        <div class="px-0 py-4 sm:px-4">
          <div class="text-xl font-semibold">{{ schedule.track_a.title }}</div>

          {% if schedule.track_a.speaker %}
            {% if schedule.track_a.speaker.twitter %}
            <div><a href="https://www.twitter.com/{{ schedule.track_a.speaker.twitter }}">{{ schedule.track_a.speaker.name }}</a></div>
            {% else %}
            <div>{{ schedule.track_a.speaker.name }}</div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if schedule.track_b %}
      <div class="flex flex-col w-full md:w-1/2 m-0">
        <div class="bg-yellow-light text-center m-0 p-2">Room 17 (Upstairs)</div>
        <div class="px-0 py-4 sm:px-4">
          <div class="text-xl font-semibold">{{ schedule.track_b.title }}</div>

          {% if schedule.track_b.speaker %}
            {% if schedule.track_b.speaker.twitter %}
            <div><a href="https://www.twitter.com/{{ schedule.track_b.speaker.twitter }}">{{ schedule.track_b.speaker.name }}</a></div>
            {% else %}
            <div>{{ schedule.track_b.speaker.name }}</div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>


<div class="container mx-auto py-8 px-4 border-b">
  <h2>Sponsors</h2>

  {% for sponsorLevel in sponsors %}

  <div class="m-4">
    <h3 class="text-center">{{ sponsorLevel.title }}</h3>
    <div class="container flex flex-row flex-wrap items-center justify-between content-center">
    {% for sponsor in sponsorLevel.companies %}
      <div class="flex-1 border-4 border-{{ sponsorLevel.tailwind_color }} text-center w-full md:w-1/2 m-4 p-4" style="min-width: {{ sponsorLevel.img_width }}px">
        <a href="{{ sponsor.a_href }}" target="_blank">
          <img src="/images/sponsor-logos/{{ sponsor.img_src }}" width="{{ sponsorLevel.img_width }}" /><br />{{ sponsor.name }}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endfor %}

  <p class="text-center">
    <a href="/images/2020SponsorshipProspectus.pdf" class="block sm:inline-block mb-3 sm:mb-0 no-underline text-2xl bg-transparent hover:bg-teal-light text-teal-light font-semibold hover:text-white py-2 px-4 mx-1 border-2 border-teal-light hover:border-transparent rounded">
      Want To Sponsor ThunderPlains?
    </a>
  </p>
</div>

<div class="container text-xl mx-auto py-8 px-4">
  <h2 id="location">Location</h2>
  <p>ThunderPlains 2020 will be held online at <a
  href="twitch.tv/techlahoma/">twitch.tv/techlahoma</a> on November 12th, 2020.</p>

  {# <p class="my-4">
    <address>
    Cox Convention Center<br />
    1 Myriad Gardens<br />
    Oklahoma City, Oklahoma 73102
    </address>
  </p> #}

  {# <p class="my-4">
    ThunderPlains will occupy Room 16 and Room 17 of the Cox Cenvention Center.
    Both of these rooms are upstairs, closest to the entrance off Sheridan
    Avenue. <a href="http://www.coxconventioncenter.com/facilities/meeting-rooms-ballroom">View pictures / get more information</a>
  </p> #}
</div>
